body {
  background: rgb(255, 0, 0);
}
.card {
  max-width: 18rem;
}
.card-text span {
  color: rgb(248, 229, 118);
}
.card-text b {
  color: yellow;
  /* color: rgb(0, 0, 104); */
}
.border {
  margin: 40px;
}
#input {
  width: 300px;
  height: 40px;
  padding: 10px;
  font-size: large;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 20px;
}
#button {
  width: 120px;
  height: 40px;
  margin-left: 20px;
}
.card-title {
  color: white;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1.3px;
}
